*{
    text-align: center;
    font-weight: 500;
}
h2{
    margin-top: 0;
         margin-bottom: 30px;

}
h1{
    margin-bottom: 0;
}
.abtBu{
        margin-top: 30px;

}
.heading{
     margin-bottom: 100px;
margin-top: 30px;
}
.rowDaddy{
    margin-top: 30px;
        margin-bottom: 30px;

}


button{
    border-radius: 4px;
    padding: 15px 15px;
    text-decoration: none;
    text-transform: capitalize;
    background-color: white;
    color: black;
}
@media (max-width: 565px) {
.daddy{
        text-align: center;
}
}